@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply scroll-smooth;
  }
}
@layer components {
  .breadcrumb li {
    display: inline;
  }

  .breadcrumb li + li:before {
    padding: 8px;
    color: #0f87ff;
    content: ">";
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
  }

  .titulo::after {
    content: "";
    width: 30%;
    height: 4px;
    background-color: #08bfdf;
    position: absolute;
    border-radius: 5px;
    left: 0;
    bottom: 0;
    margin-top: 4px;
  }
}
