@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply scroll-smooth;
  }
}
@layer components {
  .breadcrumb li {
    display: inline;
  }

  .breadcrumb li + li:before {
    padding: 8px;
    color: #0f87ff;
    content: ">";
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
  }

  .titulo::after {
    content: "";
    width: 30%;
    height: 4px;
    background-color: #08bfdf;
    position: absolute;
    border-radius: 5px;
    left: 0;
    bottom: 0;
    margin-top: 4px;
  }

  .menu-mobile {
    display: flex;
    position: fixed;
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;
    inset: 0 0 0 35%;
    background-color: #083759;
  }

  @media (min-width: 375px) {
    .menu-mobile {
      inset: 0 0 0 50%;
    }
  }
  @media (min-width: 500px) {
    .menu-mobile {
      inset: 0 0 0 60%;
    }
  }
  @media (min-width: 768px) {
    .menu-mobile {
      position: static;
      flex-direction: row;
      padding: 0;
      background-color: #0e4e7c;
    }
  }
}
