@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .breadcrumb li {
    display: inline;
  }

  .breadcrumb li + li:before {
    padding: 8px;
    color: #0f87ff;
    content: ">";
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
  }
}
